

   .footer-container {
    background-color:rgb(1, 9, 12);
    color: #fff;
    margin-bottom: 0px;
  }
  
  .footer-content {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  
  
  
  
  
  